
body{
  background-color: #ccffff;
}
.App {
  text-align: center;
}

.input{
  text-align: center;
  border-color: cadetblue;
  border-radius:10px;
  background-color:honeydew;
  height: 30px;
  width: 400px;
}
.submit{
  text-align: center;
  border-color: cadetblue;
  border-radius:10px;
  background-color:lavender;
  height: 30px;
  width: 400px;
}